Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Cors==5.0.1
python-dotenv==1.0.1
flask-bcrypt==1.0.1
flask-login==0.6.3
opencv-python==4.11.0.86
Flask-SocketIO==5.5.1
ultralytics==8.3.85
numpy==2.1.1
psycopg2-binary==2.9.10
python-socketio==5.12.1
gunicorn==23.0.0
gevent==24.11.1
gevent-websocket==0.10.1
redis==5.2.1
Flask-Mail==0.10.0
celery==5.4.0